*{
    margin: 0;
    padding: 0;
}
#game{
    width: 480px;
    height: 700px;
    margin: auto;
    overflow: hidden;
}
#gameStart{
    width: 100%;
    height: 100%;
    background:url(images/ks.png);
    position: relative;
    display: block;
}
#gameStart span{
    width: 160px;
    height: 40px;
    display: block;
    background: rgba(196, 201, 202);
    border: 4px solid #666;
    box-sizing: border-box;
    text-align: center;
    line-height: 32px;
    font-size:24px;
    font-weight: bolder;
    position:absolute;
    left: 145px;    
    bottom: 150px;
    cursor: pointer;

}
#gameStart span:hover{
    color: seagreen;
}
#gameEnter{
    width: 100%;
    height: 100%;
    background: url(images/background.png);
    position: relative;
    display: none;
}
#myPlane{
    width: 102px;
    height: 126px;
    position: absolute;
    left: 189px;
    bottom: 0;
    cursor: pointer;

}
#myPlane{
    width: 102px;
    height: 126px;
}
#bullets,#enemys{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.b{
    width: 5px;
    height: 11px;
    position: absolute;
   /* left:237.5px ;
    top:563px;*/
}
.e{
    position: absolute;
}
#scores{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bolder;
    padding: 0 20px;
}
#scores p{
    text-align: right;
    width: 90%;
}